.feature h3{
    font-family: "Rochester", serif;
}

.landingSection h3{
    font-family: "Rochester", serif;
}

.landing-footerSpan span{
    font-family: "Rochester", serif;
}

.landingFooter-header{
    font-family: "Rochester", serif;
    color: #ffdd57;
}

.responsive-image {
    height: 200px; /* Default height */
  }
  
  @media (max-width: 576px) { /* Bootstrap's breakpoint for sm */
    .responsive-image {
      height: 400px; /* Increased height for col-sm-12 */
    }
  }
  
  @media (max-width: 767px) { /* Bootstrap's breakpoint for sm */
    .responsive-image {
      height: 400px; /* Increased height for col-sm-12 */
    }
  }

  @media (max-width: 991.98px) {
    .responsive-image {
      height: 400px; /* Height adjustment for medium devices */
    }
  }
